
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<script>
    function WypelnijDaty() {
    var input = document.getElementById( 'ResearchDate' ).value;
	var d = new Date( input );
    year = d.getFullYear();
    document.getElementById("c").innerHTML = year;
    document.getElementById("d").innerHTML = year;
    }

    function OpcjePalenia(){
    var svalue=document.getElementById("Smokeid").value;
    var a=document.getElementById("SmokeidAB");
    var c=document.getElementById("SmokeidC");
    var d=document.getElementById("SmokeidD");

    if (svalue=="yes1more" || svalue=="yes1less")
    {
     a.style.display='block';
     c.style.display='none';
     d.style.display='none';
     a.style.visibility='visible';
     c.style.visibility='hidden';
     d.style.visibility='hidden';
    }
    else if (svalue=="quit")
    {
     a.style.display='none';
     c.style.display='block';
     d.style.display='none';

     a.style.visibility='hidden';
     c.style.visibility='visible';
     d.style.visibility='hidden';
    }
    else
    {
     a.style.display='none';
     c.style.display='none';
     d.style.display='block';

     a.style.visibility='hidden';
     c.style.visibility='hidden';
     d.style.visibility='visible';
     }
     }
     function processUser()
  {
    var parameters = location.search;
    var temp = parameters.split("=");
    l = unescape(temp[1]);
    var d=document.getElementById("patientnumber");
    d.value=l;
  }
</script>


<body onload="processUser()">
<div class="page-header" >
  <h1>Proszę wypełnić poniższe pola</h1>
</div>


<form role="form" action="/save" method="post">
    <h3>Informacje</h3>
	<input type="hidden" id="patientnumber" name="patientnumber">
    <div class="form-group">
        <label for="age">Wiek:</label>
        <label><input type="number" class="form-control" id="Age" name="age" min="1" max="120" required></label> lat
    </div>

    <b>Płeć</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="sex" value="w">Kobieta
        </label>
        <label class="radio-inline">
          <input type="radio" name="sex" value="m">Mężczyzna
        </label>
    </div>

    <div class="form-group">
        <label for="ResearchDate">Data badania rezonansem: </label>
        <label><input type="date" class="form-control" id="ResearchDate" name="researchdate" oninput="WypelnijDaty();" required></label>
    </div>

    <div class="form-group">
      <label for="BirthPlace">Miejsce urodzenia:</label>
      <label>  <input type="text" class="form-control" id="BirthPlace" name="birthplace" required></label>
    </div>

    <div class="form-group">
        <label for="YearsLiving">Ile lat mieszkał Pan/Pani w tej miejscowości przed <span id="c"></span>?</label>
       <label><input type="number" class="form-control" id="YearsLiving" name="yearsliving" ></label>
    </div>

    <b>W jakiej odległości od domu, w którym Pan/Pani mieszkała w <span id="d"></span> znajdowały się ulice z dużym ruchem samochodowym?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="roaddistance" value="0">mniej niż 50 m
        </label>
        <label class="radio-inline">
          <input type="radio" name="roaddistance" value="50">50 - 200 m
        </label>
        <label class="radio-inline">
          <input type="radio" name="roaddistance" value="200">Ponad 200 m
        </label>
    </div>

	<b>Czy hałas w miejscu zamieszkania był uciążliwy?</b>
	<div  id="Noise"  class="form-group">
		<label class="radio-inline"> <input type="radio"   name="noise" value="yes">Tak
		</label>
		<label class="radio-inline">
		<input type="radio"  name="noise" value="no">Nie
		</label>

    </div>

	<b>Jaki rodzaj ogrzewania był używany w Pana/Pani domu?</b>
	<div class="form-group" id="Heating">
		<label class="radio-inline"> <input type="radio"  name="heating" value="centralne"> Centralne z sieci miejskiej
		</label>
		<label class="radio-inline"> <input type="radio" name="heating" value="gazowe"> Piec gazowy
		</label>
		<label class="radio-inline"> <input type="radio"  name="heating" value="paliwo"> Piec na paliwo stałe (węgiel, drewno)
		</label>
		<label class="radio-inline"> <input type="radio" name="heating" value="inne"> Inne
		</label>
	</div>

    <b> Jaki poziom wykształcenia Pan/Pani osiągnięła:</b>
	<div class="form-group">
		<label class="radio-inline"> <input type="radio" name="education" value="podst"> Szkoła Podstawowa
		</label>
		<label class="radio-inline"> <input type="radio" name="education" value="gim"> Gimnazjum
		</label>
		<label class="radio-inline"> <input type="radio" name="education" value="liceum"> Liceum / Technikum
		</label>
		<label class="radio-inline"> <input type="radio" name="education" value="zawod"> Szkoła zawodowa
		</label>
		<label class="radio-inline"> <input type="radio" name="education" value="studia"> Szkoła wyższa
		</label>

    </div>

	<b>Czy w roku badania MRI był Pan / była Pani narażona na dym tytoniowy w mieszkaniu?</b>
	<div class="form-group">
		<label class="radio-inline"> <input type="radio" name="tobaccosmoke" value="yes"> Tak
		</label>
		<label class="radio-inline">
		<input type="radio" name="tobaccosmoke" value="no" checked="checked" > Nie
		</label>
	</div>

	<b>Czy pali Pan/Pani papierosy? </b>
	<div id="AgeSmokeid" class="form-group" >
		<select name="smoking" id="Smokeid" onchange="OpcjePalenia();" required>
			<option value="yes1more">Tak, co najmniej jeden papieros dziennie</option>
			<option value="yes1less">Tak, rzadziej niż jeden papieros dziennie</option>
			<option value="quit">Rzuciłem / Rzuciłam palenie</option>
			<option value="never">Nigdy nie paliłem / paliłam regularnie</option>
		</select>
	</div>


    <div id="SmokeidAB">

	<div  class="form-group">
		<label>Od jak dawna Pan/Pani pali?</label>
        <label><input type="number" class="form-control" id="AgeSmoke" name="agesmoke" value=""> </label> lat
    </div>


	<div class="form-group" id="regularsmoke">
		<label>Czy pali Pan/Pani regularnie?</label>
		<label class="radio-inline"> <input type="radio" name="regularsmoke" value="yes"> Tak
		</label>
		<label class="radio-inline"> <input type="radio" name="regularsmoke" value="no"> Nie
		</label>
		<input type="radio" name="regularsmoke" value="" checked="checked" style="display:none;">
    </div>



	<div class="form-group">
		<label>Ile papierosów wypala Pan/Pani dziennie?</label>
        <label><input type="number" class="form-control" id="NoCig" name="nocig" value=""></label>
    </div>


	<div class="form-group">
		<label>Ile palił/a Pan/Pani papierosów dziennie w roku badania MRI?</label>
       <label><input type="number" class="form-control" id="NoCigYear" name="anocigyear" value="" ></label>
    </div>

	
	<div class="form-group">
        <label for="NoCigYear1">Ile palił/a Pan/Pani papierosów dziennie rok przed badaniem MRI? </label>
        <label><input type="number" class="form-control" id="NoCigYear1" name="anocigyear1" value=""></label>
    </div>

	
	<div class="form-group">
        <label for="NoCigYear2">Ile palił/a Pan/Pani papierosów dziennie 2 lata przed badaniem MRI? </label>
        <label><input type="number" class="form-control" id="NoCigYear2" name="anocigyear2" value=""></label>
    </div>

	<div class="form-group">
        <label for="NoCigYear5">Ile palił/a Pan/Pani papierosów dziennie 5 lat przed badaniem MRI? </label>
        <label><input type="number" class="form-control" id="NoCigYear5" name="anocigyear5" value="" ></label>
    </div>

	
	<div class="form-group">
        <b>Jakiej marki pali Pan/Pani papierosy? </b>
		<select name="cigarbrand">
			<option value="">---</option>
			<option value="LM">L&amp;M</option>
			<option value="malboro">Malboro</option>
			<option value="davidoff">Davidoff</option>
			<option value="west">West</option>
			<option value="camel">Camel</option>
			<option value="viceroy">Viceroy</option>
			<option value="pallmall">Pall Mall</option>
			<option value="LD">LD</option>
			<option value="inne">Inne</option>
		</select>
	</div>

	</div>
	<div id="SmokeidC" style="visibility: hidden; display: none">
	
	<div class="form-group">
        <label for="QuitYear">Ile lat temu rzucił/a Pan/Pani palenie? </label>
        <label><input type="number" class="form-control" id="QuitYear" name="quityear" value=""></label>
    </div>

	
	<div class="form-group">
		<b>Ile palił/a Pan/Pani papierosów gdy rzucał/a Pan/Pani palenie? </b>
        <label><input type="number" class="form-control" id="Quit1Year" name="quit1year"  value=""></label>
    </div>

	
	<div class="form-group">
        <label for="QuitYear1">Ile palił/a Pan/Pani papierosów dziennie rok przed rzuceniem palenia? </label>
        <label><input type="number" class="form-control" id="QuitYear1" name="quityear1"  value="" ></label>
    </div>

	
	<div class="form-group">
        <label for="QuitYear2">Ile palił/a Pan/Pani papierosów dziennie 2 lata przed rzuceniem palenia? </label>
        <label><input type="number" class="form-control" id="QuitYear2" name="quityear2"  value=""></label>
    </div>

	
	<div class="form-group">
        <label for="QuitYear5">Ile palił/a Pan/Pani papierosów dziennie 5 lat przed rzuceniem palenia? </label>
        <label><input type="number" class="form-control" id="QuitYear5" name="quityear5" value="" ></label>
    </div>

	<div class="form-group">
        <label for="QuitYear10">Ile palił/a Pan/Pani papierosów dziennie 10 lat przed rzuceniem palenia? </label>
        <label><input type="number" class="form-control" id="QuitYear10" name="quityear10"  value=""></label>
    </div>

	
	<div class="form-group">
		<label> Jakiej marki pali Pan/Pani papierosy? </label>
		<select name="quitcigarbrand" >
			<option value="">---</option>
			<option value="LM">L&amp;M</option>
			<option value="malboro">Malboro</option>
			<option value="davidoff">Davidoff</option>
			<option value="west">West</option>
			<option value="camel">Camel</option>
			<option value="viceroy">Viceroy</option>
			<option value="pallmall">Pall Mall</option>
			<option value="LD">LD</option>
			<option value="inne">Inne</option>
		</select>
	</div>

    </div>

	<div id="SmokeidD" style="visibility: hidden; display: none">


	<br>
	</div>
	<button type="submit" class="btn btn-info">Prześlij</button>
    </form>
</body>


{% endblock %}