
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>Proszę wypełnić formularz</h1>
</div>
<script>
    function WypelnijDaty() {
    var x = document.getElementById("DataBadania").value;
    document.getElementById("c").innerHTML = x;
    document.getElementById("d").innerHTML = x;
    }

    function OpcjePalenia(){
    var svalue=document.getElementById("Smoke").value;
    var a=document.getElementById("SmokeidAB");
    var c=document.getElementById("SmokeidC");
    var d=document.getElementById("SmokeidD");
    if (svalue=="yes1more" || svalue=="yes1less")
    {
     a.style.display='block';
     a.style.visibility='visible';
    }
    else if (f=="quit")
    {
     c.style.display='block';
     c.style.visibility='visible';
    }
    else
    {
     d.style.display='block';
     d.style.visibility='visible';
        }
    }
</script>

<form role="form" action="/save" method="post">
    <h3>Informacje</h3>

    <div class="form-group">
        <label for="age">Wiek:</label>
        <input type="number" class="form-control" id="age" name="age" min="1" max="120" required>
    </div>
    <b>Płeć</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="plec" value="k">Kobieta
        </label>
        <label class="radio-inline">
          <input type="radio" name="plec" value="m">Mężczyzna
        </label>
    </div>
    <div class="form-group">
        <label for="DataBadania">Data badania rezonansem: </label>
        <input type="date" class="form-control" id="DataBadania" name="DataBadania" oninput="WypelnijDaty()" required>
    </div>
    <div class="form-group">
      <label for="MiejsceUrodzenia">Miejsce urodzenia:</label>
        <input type="text" class="form-control" id="MiejsceUrodzenia" name="MiejsceUrodzenia" required>
    </div>
    <div class="form-group">
        <label for="LatMieszkania">Ile lat mieszkał Pan/Pani w tej miejscowości przed <span id="c"></span>?</label>
        <input type="number" class="form-control" id="LatMieszkania" name="LatMieszkania"  required>
    </div>
    <b>W jakiej odległości od domu, w którym Pan/Pani mieszkała w <span id="d"></span> znajdowały się ulice z dużym ruchem samochodowym?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="OdlegloscDrogi" value="k">mniej niż 50 m
        </label>
        <label class="radio-inline">
          <input type="radio" name="OdlegloscDrogi" value="50">50-200 m
        </label>
        <label class="radio-inline">
          <input type="radio" name="OdlegloscDrogi" value="200">Ponad 200 m
        </label>
    </div>

	<b>Czy hałas w miejscu zamieszkania był uciążliwy?</b>
	<div class="form-group">
		<label class="radio-inline"> <input type="radio" name="noise" value="yes"> Tak
		</label>
		<label class="radio-inline">
		<input type="radio" name="noise" value="no"> Nie
		</label>

    </div>

	<b>Jaki rodzaj ogrzewania był używany w Pana/Pani domu?</b>
	<div class="form-group">
		<label class="radio-inline"> <input type="radio" name="heating" value="centralne"> Centralne z sieci miejskiej
		</label>
		<label class="radio-inline"> <input type="radio" name="heating" value="gazowe"> Piec gazowy
		</label>
		<label class="radio-inline"> <input type="radio" name="heating" value="paliwo"> Piec na paliwo stałe (węgiel, drewno)
		</label>
		<label class="radio-inline"> <input type="radio" name="heating" value="inne"> Inne
		</label>
	</div>

    <b> Jaki poziom wykształcenia Pan/Pani osiągnięła:</b>
	<div class="form-group">
		<label class="radio-inline"> <input type="radio" name="education" value="podst"> Szkoła Podstawowa
		</label>
		<label class="radio-inline"> <input type="radio" name="education" value="gim"> Gimnazjum
		</label>
		<label class="radio-inline"> <input type="radio" name="education" value="liceum"> Liceum / Technikum
		</label>
		<label class="radio-inline"> <input type="radio" name="education" value="zawod"> Szkoła zawodowa
		</label>
		<label class="radio-inline"> <input type="radio" name="education" value="studia"> Szkoła wyższa
		</label>

    </div>

	<b>Czy pali Pan/Pani papierosy? </b>
	<div id="AgeSmokeid" class="form-group" >
		<select name="Smoke" onchange="OpcjePalenia()">
			<option id="Smoke" value="yes1more">Tak, co najmniej jeden papieros dziennie</option>
			<option id="Smoke" value="yes1less">Tak, rzadziej niż jeden papieros dziennie</option>
			<option id="Smoke" value="quit">Rzuciłem / Rzuciłam palenie</option>
			<option id="Smoke" value="never">Nigdy nie paliłem / paliłam regularnie</option>
		</select>
	</div>


    <div id="SmokeidAB" style="visibility: hidden; display: none">
	<h3>Część III: Dane medyczne cz.2</h3>

	<div  class="form-group">
        <label for="AgeSmoke">Od jak dawna Pan/Pani pali? </label>
        <label><input type="number" class="form-control" id="AgeSmoke" name="AgeSmoke" min="1" max="50" required=""> lat</label>
    </div>

	
	<div class="form-group">
		<label class="radio-inline"> Czy pali Pan/Pani regularnie?</label> 
		<label> <input type="radio" name="RegularSmoke" value="yes"> Tak
		</label>
		<label class="radio-inline">
		<input type="radio" name="RegularSmoke" value="no"> Nie
		</label>

    </div>

	
	<div class="form-group">
        <label for="NoCig">Ile papierosów wypala Pan/Pani dziennie? </label>
        <label><input type="number" class="form-control" id="NoCig" name="NoCig" min="1" max="100" required=""> sztuk</label>
    </div>

	
	<div class="form-group">
        <label for="NoCigYear">Ile palił/a Pan/Pani papierosów dziennie w roku badania MRI? </label>
        <label><input type="number" class="form-control" id="NoCigYear" name="ANoCigYear" min="1" max="50" required=""> sztuk</label>
    </div>

	
	<div class="form-group">
        <label for="NoCigYear1">Ile palił/a Pan/Pani papierosów dziennie rok przed badaniem MRI? </label>
        <label><input type="number" class="form-control" id="NoCigYear1" name="ANoCigYear1" min="1" max="50" required=""> sztuk</label>
    </div>

	
	<div class="form-group">
        <label for="NoCigYear2">Ile palił/a Pan/Pani papierosów dziennie 2 lata przed badaniem MRI? </label>
        <label><input type="number" class="form-control" id="NoCigYear2" name="ANoCigYear2" min="1" max="50" required=""> sztuk</label>
    </div>

	<div class="form-group">
        <label for="NoCigYear5">Ile palił/a Pan/Pani papierosów dziennie 5 lat przed badaniem MRI? </label>
        <label><input type="number" class="form-control" id="NoCigYear5" name="ANoCigYear5" min="1" max="50" required=""> sztuk</label>
    </div>

	
	<div class="form-group">
		<label for="cigar"> Jakiej marki pali Pan/Pani papierosy? </label>
		<select name="smoke" multiple="multiple">
			<option value="LM">L&amp;M</option>
			<option value="malboro">Malboro</option>
			<option value="davidoff">Davidoff</option>
			<option value="west">West</option>
			<option value="camel">Camel</option>
			<option value="viceroy">Viceroy</option>
			<option value="pallmall">Pall Mall</option>
			<option value="LD">LD</option>
			<option value="inne">Inne</option>
		</select>
	</div>

	</div>
	<div id="SmokeidC" style="visibility: hidden; display: none">
	<h3>Część III: Dane medyczne cz.2</h3>
	
	<div class="form-group">
        <label for="QuitYear">Ile lat temu rzucił/a Pan/Pani palenie? </label>
        <label><input type="number" class="form-control" id="QuitYear" name="QuitYear" min="1" max="50" required=""> sztuk</label>
    </div>

	
	<div class="form-group">
        <label for="Quit1Year">Ile palił/a Pan/Pani papierosów gdy rzucał/a Pan/Pani palenie? </label>
        <label><input type="number" class="form-control" id="Quit1Year" name="Quit1Year" min="1" max="50" required=""> sztuk</label>
    </div>

	
	<div class="form-group">
        <label for="QuitYear1">Ile palił/a Pan/Pani papierosów dziennie rok przed rzuceniem palenia? </label>
        <label><input type="number" class="form-control" id="QuitYear1" name="QuitYear1" min="1" max="50" required=""> sztuk</label>
    </div>

	
	<div class="form-group">
        <label for="QuitYear2">Ile palił/a Pan/Pani papierosów dziennie 2 lata przed rzuceniem palenia? </label>
        <label><input type="number" class="form-control" id="QuitYear2" name="QuitYear2" min="1" max="50" required=""> sztuk</label>
    </div>

	
	<div class="form-group">
        <label for="QuitYear5">Ile palił/a Pan/Pani papierosów dziennie 5 lat przed rzuceniem palenia? </label>
        <label><input type="number" class="form-control" id="QuitYear5" name="QuitYear5" min="1" max="50" required=""> sztuk</label>
    </div>

	<div class="form-group">
        <label for="QuitYear10">Ile palił/a Pan/Pani papierosów dziennie 10 lat przed rzuceniem palenia? </label>
        <label><input type="number" class="form-control" id="QuitYear10" name="QuitYear10" min="1" max="50" required=""> sztuk</label>
    </div>

	
	<div class="form-group">
		<label for="cigar"> Jakiej marki pali Pan/Pani papierosy? </label>
		<select name="smoke" multiple="multiple">
			<option value="LM">L&amp;M</option>
			<option value="malboro">Malboro</option>
			<option value="davidoff">Davidoff</option>
			<option value="west">West</option>
			<option value="camel">Camel</option>
			<option value="viceroy">Viceroy</option>
			<option value="pallmall">Pall Mall</option>
			<option value="LD">LD</option>
			<option value="inne">Inne</option>
		</select>
	</div>

    </div>
	<div id="SmokeidD" style="visibility: hidden; display: none">
	<h3>Część III: Dane medyczne cz.2</h3>
	
	<div class="form-group">
		<label class="radio-inline"> Czy w roku badania MRI był Pan / była Pani narażona na dym tytoniowy w mieszkaniu?</label> 
		<label> <input type="radio" name="TobaccoSmoke" value="yes"> Tak
		</label>
		<label class="radio-inline">
		<input type="radio" name="TobaccoSmoke" value="no"> Nie
		</label>
	</div>
	<br>
	
	<button type="submit" class="btn btn-default">Prześlij formularz</button>
</form>
	</div>

	
</body></html>
{% endblock %}