<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div style="background:CornflowerBlue   !important" class="jumbotron">
    <h1>Witam w ankiecie</h1>
<p>Ankieta dla osób po badaniu rezonansem magnetycznym dotycząca palenia przez nich papierosów.</p>
  </div>

  <!--<div class="page-header">
  <h1>Proszę o wypełnienie ankiety</h1>
  </div>
  <p>-->
    <a href="/form" class="btn btn-lg btn-primary" role="button">Wypełnij ankietę</a>
  </p>


{% endblock %}

